@media screen and (max-width: 1024px) {
  .headerNavLink {
    flex-direction: column;
    justify-content: center;
  }
  .hebergementsContainer {
    flex-direction: column-reverse;
    box-shadow: none;
  }
  .hebergementsmarseille {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .parent_box {
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: none;
    margin-top: 10px;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  .box {
    width: 100%;
  }

  .popularContainer {
    max-width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 925px) {
  .headerbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .headerbarhosting {
    border-top: none;
    border-bottom: 3px #0065fc solid;
    width: 50%;
  }
  .headerbaractivity {
    border-bottom: 3px lightgray solid;
    transition-duration: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50%;
  }
  .activity {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .small1,
  .small2,
  .small3,
  .small4 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  .activityCard {
    width: auto;
    height: auto;
  }
  .activitycontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hebergementsmarseille {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .activityCardimg {
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    position: relative;
    height: 150px;
    width: 100%;
  }
  .box .room {
    width: 100%;
    height: 115px;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
  }

  .searchForm {
    width: 100%;
  }
  .headerNav {
    flex-wrap: wrap-reverse;
  }
  .headerSignup {
    order: -1;
    align-items: flex-end;
    display: flex;
    padding: 1rem;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 100%;
  }
  .footer1 {
    margin-left: 10px;
  }
  footer {
    display: FLEX;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .searchFormSubmitText {
    display: none;
  }
  .searchFilters1 {
    margin-right: 0;
  }
  .option_filters {
    justify-content: space-between;
  }
  .box {
    width: 100%;
  }
  .searchForm {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 50px;
    justify-content: center;
  }
  .searchicon {
    justify-content: center;
    background-color: #f2f2f2;
    font-size: 16px;
    border-radius: 0.75rem 0 0 0.75rem;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .searchForminput {
    width: 65%;
    padding: 13px;
  }
  .searchFormSubmit {
    display: flex;
    justify-content: center;
    background-color: #0065fc;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    padding: 15px;
    margin: 0px -8px;
    border: none;
    align-items: center;
  }
  .search_header_title {
    padding: 10px;
  }
  .searchHeadertitle2 {
    padding: 10px;
  }

  .searchFormSubmitinputText {
    display: none;
  }
  .headerSignup {
    top: 0%;
    right: 3%;
    position: absolute;
  }
  .headerbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .headerbarhosting {
    border-top: none;
    border-bottom: 3px #0065fc solid;
    width: 50%;
  }
  .headerbaractivity {
    border-bottom: 3px lightgray solid;
    transition-duration: 0.1s;
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 50%;
  }
  .main {
    padding: 0;
  }
  .activity {
    display: flex;
    flex-direction: column;
  }
  .activityCard {
    width: auto;
    height: auto;
  }
  .activityCardimg {
    height: 150px;
  }
  .none {
    display: block;
  }
  .hebergementsmarseille {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .hebergementsContainer {
    padding: 0;
  }
  .popularContainer {
    border-radius: 0;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: none;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .column1,
  .column2,
  .column3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer1 {
    margin-left: 10px;
  }
}
