@media screen and (max-width: 1024px) {
  .headerNavLink {
    flex-direction: column;
    justify-content: center;
  }
  .hebergementsContainer {
    flex-direction: column-reverse;
    background-color: none;
    box-shadow: none;
  }
  .hebergementsmarseille {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .parent_box {
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: none;
    margin-top: 10px;
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .room {
    width: 100%;
  }
  .popularContainer {
    max-width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 925px) {
  .headerbar {
    align-items: center;
  }
  .headerbarhosting {
    border-top: none;
    border-bottom: 3px #0065fc solid;
  }
  .activity {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .small1,
  .small2,
  .small3,
  .small4 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  .activityCard {
    width: auto;
    height: auto;
  }
  .activitycontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hebergementsmarseille {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .activityCardimg {
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    position: relative;
    height: 150px;
    width: 100%;
  }
  .searchForm {
    width: 100%;
  }

  .headerNav {
    flex-wrap: wrap-reverse;
  }
  .headerSignup {
    order: -1;
    align-items: flex-end;
    display: flex;
    padding: 1rem;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 100%;
  }
  .footer1 {
    margin-left: 10px;
  }
  footer {
    display: FLEX;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .searchFormSubmitText {
    display: none;
  }
  .searchFormSubmitinputText {
    display: none;
  }
  .headerSignup {
    top: 0%;
    right: 3%;
    position: absolute;
  }
  .main {
    padding: 0;
  }
  .activity {
    display: flex;
    flex-direction: column;
  }
  .activityCard {
    width: auto;
    height: auto;
  }
  .activityCardimg {
    height: 150px;
  }
  .none {
    display: block;
  }
  .hebergementsmarseille {
    background-color: white;
    box-shadow: none;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .footer1 {
    margin-left: 10px;
  }
}
